homoglyphs~=2.0.4
tqdm~=4.67.1
numpy~=1.26.4
pandas~=2.2.2
datasets~=3.2.0
scikit-learn~=1.4.2
wandb~=0.19.2
transformers~=4.40.0
torch~=2.2.2
accelerate~=0.33.0
zstandard~=0.22.0
tokenizers~=0.19.1
pyarrow~=16.1.0
dask~=2024.5.0
matplotlib~=3.9.1.post1
nltk~=3.6.3
beautifulsoup4~=4.12.2
evaluate~=0.4.2
seaborn~=0.13.2
statsmodels~=0.14.4
scipy~=1.13.0
requests~=2.32.3